div {
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.star {
    background-color: hsl(350, 100%, 88%);
    font-family: "Verdana","DejaVu Sans", sans-serif;
    color: #000000;
    text-align: left;
}

#id1 {
    color:hsl(240, 100%, 50%);
    font-size: 36px;
    background-color: transparent;
    text-align: left;
}

#id2 {
    background-color: hsl(84, 100%, 59%);
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.extraclass {
    font-size: 24px;
}

.explosion,
.extinction {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.explosion {
    background-color: black;
    color: white;
}

.extinction {
    background-color: yellow;
}

.avatar.proportioned {
    width:300px;
    height: auto;
}

.avatar.distorted {
    height: 400px;
    width: 200px;
   
}

.baby {
    background-color: transparent;
}

